################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/SegmentationLabelViewer/.vs/SegmentationLabelViewer
/SegmentationLabelViewer/SegmentationLabelViewer/obj
/SegmentationLabelViewer/Viewer/bin/x64/Debug/net7.0-windows
/SegmentationLabelViewer/Viewer/obj
